# Ignore all files & folders
*

# Do not ignore the following files

# Zsh Files
!.zshrc
!.zshrc.pre-oh-my-zsh  
!.zshrc.zni  
!.zsh-update

# Vim Files
!.vimrc

# Custom Init Script to initialize various repos
!.init

# Git Files
!.gitconfig

# Do not ignore the following folders
!.oh-my-zsh/*
